<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="static/images/coracao.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A Aventura de Jess</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="life.html" class="escondido"><h1>Capítulo 8: True Colors</h1></a>
        <p>Estamos quase lá... Espero que a companhia esteja boa... rsrs 
        <h4>How Long Will I Love You - Ellie Goulding</h4>
        </p>
        <img src="static/images/nona.png" alt="Anel de Noivado">
        <br>
        <p class="livro">No meio da imensidão da escura noite, me perco observando o horizonte <br>
            horizonte que me hipnotiza através da sua peculiar beleza<br>
            beleza que faz sentido quando minhas recordações me trazem você<br>
            sua vinda traz consigo uma estranha sensação gostosa de paz 
            <br><br>
            Minha mente faz uma fusão dessa sensação com sua linda silhueta e com essa peculiar dark night <br>
            uma música surge com uma fração de luz começa aparecer e iluminar tal silhueta <br>
            luz que faz o tempo parar e que abafa todos os ruídos da cidade<br>
            ruídos que se dissolvem e dão destaque ao perfeito momento peculiar
            <br><br>
            Momento peculiar que ganha mais um encantador elemento natural através do vento<br>
            vento que refresca e percorre todo o meu corpo, fazendo-me senti-la de uma forma peculiar <br>
            senti-la dessa forma é algo mágico e muito mais profundo do que sentir seu corpo<br>
            profundidade que traz uma sensação de conexão contigo de uma forma incompreensível 
            <br><br>
            Compreensão que talvez eu nunca tenha de uma forma racional<br>
            racional que é a forma que eu vejo que você consegue praticar minha doce Jéssica <br>
            talvez esse necessário racional nunca me deixe saber como você é verdadeiramente<br>
            essa peculiar incógnita fortalece a frase "...que seja eterno enquanto dure..."
            </p> <br>
            <!-- <button id="startButton" class="btn">Aperte para Iniciar</button> -->
            <p id="timer" class="btn">Tempo restante: <span id="countdown">15:00</span></p><br>
            <a href="pensamentos.html" class="btn btn-primary">Página Anterior</a><br><br>
            <script>
                var timerInterval;
                var startTime;
                var isRunning = false; // Verifica se o temporizador está em execução
        
                // Função para iniciar o temporizador
                function iniciarTemporizador() {
                    if (!isRunning) {
                        // Verifica se há uma hora de início no armazenamento local
                        startTime = localStorage.getItem('startTime');
        
                        if (!startTime) {
                            // Se não houver, define a hora de início atual
                            startTime = new Date().getTime();
                            localStorage.setItem('startTime', startTime);
                        }
        
                        // Iniciar o cronômetro
                        var timeLeft = Math.max(0, 15 * 60 - Math.floor((new Date().getTime() - startTime) / 1000));
                        var countdown = document.getElementById("countdown");
        
                        timerInterval = setInterval(function () {
                            var minutes = Math.floor(timeLeft / 60);
                            var seconds = timeLeft % 60;
        
                            countdown.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        
                            if (timeLeft === 0) {
                                clearInterval(timerInterval);
                                localStorage.removeItem('startTime'); // Limpa a hora de início
                                window.location.href = "life";
                            } else {
                                timeLeft--;
                            }
                        }, 1000); // Atualiza a cada segundo
        
                        isRunning = true;
                    }
                }
        
                // Iniciar o temporizador automaticamente quando a página for carregada
                window.onload = iniciarTemporizador;
        
                // Limpar a hora de início no localStorage quando a página for atualizada
                window.addEventListener('beforeunload', function () {
                    localStorage.removeItem('startTime');
                });
            </script>
    </div>
    <audio controls autoplay loop>
        <source src="static/audio/How Long Will I Love You.mp3" type="audio/mpeg">
        Seu navegador não suporta a tag de áudio.
    </audio>

</body>
</html>
