<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A Aventura de Jess</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="pensamentos.html" class="escondido"><h1>Capítulo 6: Auto conhecimento</h1></a>
        <p>O tempo continua andando e agora estamos chegando próximo do grande final... Más está divertido, não está... rsrs </p>
        <h4><a class="escondido" href="final.html">1</a> Dark Four Door - Billy Raffoul</h4>
        <img src="static/images/setima.png" alt="Anel de Noivado">
        <br>
        <p class="livro">As vezes me pego perguntando qual é o caminho correto da vida<br>
            decisão da escolha do caminho que se mistura com meus sentimentos <br>
            sentimentos que me causam a sensação de estar sozinho<br>
            tal sensação que me faz buscar algo maior.
            <br><br>
            Sozinho ou perdido?<br>
            seria algo simples de responder ?<br>
            simplicidade ou complexidade ?<br>
            quanto mais mergulho no entendimento mais submerso me sinto 
            <br><br>
            Como responder esse sentimento de imersão que me consome <br>
            sentimento de estar em um mundo paralelo <br>
            um mundo aconchegante e caloroso <br>
            calor que transforma sonhos em realidade 
            <br><br>
            Será que podemos adentrar a esse new world?<br>
            mundo cujo a chave está dentro de nós mesmos<br>
            usar essa chave é uma dádiva ou é egoísmo?<br>
            como fazer a polimerização do que é correto com o true love</p> <br>
            <!-- <button id="startButton" class="btn">Aperte para Iniciar</button> -->
            <p id="timer" class="btn">Tempo restante: <span id="countdown">15:00</span></p><br>
            <a href="despertar.html" class="btn btn-primary">Página Anterior</a><br><br>
            <script>
                var timerInterval;
                var startTime;
                var isRunning = false; // Verifica se o temporizador está em execução
        
                // Função para iniciar o temporizador
                function iniciarTemporizador() {
                    if (!isRunning) {
                        // Verifica se há uma hora de início no armazenamento local
                        startTime = localStorage.getItem('startTime');
        
                        if (!startTime) {
                            // Se não houver, define a hora de início atual
                            startTime = new Date().getTime();
                            localStorage.setItem('startTime', startTime);
                        }
        
                        // Iniciar o cronômetro
                        var timeLeft = Math.max(0, 15 * 60 - Math.floor((new Date().getTime() - startTime) / 1000));
                        var countdown = document.getElementById("countdown");
        
                        timerInterval = setInterval(function () {
                            var minutes = Math.floor(timeLeft / 60);
                            var seconds = timeLeft % 60;
        
                            countdown.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        
                            if (timeLeft === 0) {
                                clearInterval(timerInterval);
                                localStorage.removeItem('startTime'); // Limpa a hora de início
                                window.location.href = "pensamentos";
                            } else {
                                timeLeft--;
                            }
                        }, 1000); // Atualiza a cada segundo
        
                        isRunning = true;
                    }
                }
        
                // Iniciar o temporizador automaticamente quando a página for carregada
                window.onload = iniciarTemporizador;
        
                // Limpar a hora de início no localStorage quando a página for atualizada
                window.addEventListener('beforeunload', function () {
                    localStorage.removeItem('startTime');
                });
            </script>
    </div>
    <audio controls autoplay loop>
        <source src="static/audio/Dark Four Door.mp3" type="audio/mpeg">
        Seu navegador não suporta a tag de áudio.
    </audio>

</body>
</html>
