<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="static/images/coracao.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A Aventura de Jess</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Capítulo Final:</h1>
        <p class="livro_final">Digite o código após ler as dicas abaixo: <br>
            <b>°Primeiro dígito:</b> encontre um número nos capítulos anteriores e clique nele;
            <br>
            <b>°Segundo dígito:</b> O mês do nosso encantador almoço que revelou o sentimento;
            <br>
            <b>°Terceiro dígito:</b> A posição numérica no alfabeto da primeira letra do meu nome;
            <br>
            <b>°Quarto dígito:</b> Último número do ano que descobrimos nosso mágico sentimento - Connection Souls
            <br><b>Dica:</b> Aperte no nome do Capítulo para avançar de página! 
            </p>
            <h4>I'll never love again - Lady Gaga</h4>
        <img src="static/images/onze.png" alt="Anel de Noivado">
        <br>
        <p class="livro">Parabéns minha doce e eterna amada Jéssica, você chegou ao fim da nossa aventura, espero que eu tenha sido uma boa companhia rsrs Agora é só você abrir seu presente e sentir a forma que eu estarei sempre contigo...</p>
            <label for="senhaa">Digite a senha: <br></label>
            <input type="password" id="senhaa" name="senhaa" required>
            <button class="btn" onclick="Senhas()">Desbloquear</button>
            <p id="timer">Tempo restante: <span id="countdown">60:00</span></p><br>
            <a href="life.html" class="btn btn-primary">Página Anterior</a><br><br>
            <script>
                var timerInterval;
                var startTime;
                var isRunning = false; // Verifica se o temporizador está em execução
                var senha = ""
                
                function Senhas(){
                    senha = document.getElementById('senhaa');

                    if(senha.value == "1363"){
                        window.location.href = "pagina_final.html";
                    }
                    else{

                        alert("Senha Incorreta! Tente Novamente")
                    }
                }

                // Função para iniciar o temporizador
                function iniciarTemporizador() {
                    if (!isRunning) {
                        // Verifica se há uma hora de início no armazenamento local
                        startTime = localStorage.getItem('startTime');
        
                        if (!startTime) {
                            // Se não houver, define a hora de início atual
                            startTime = new Date().getTime();
                            localStorage.setItem('startTime', startTime);
                        }
        
                        // Iniciar o cronômetro
                        var timeLeft = Math.max(0, 60 * 60 - Math.floor((new Date().getTime() - startTime) / 1000));
                        var countdown = document.getElementById("countdown");
        
                        timerInterval = setInterval(function () {
                            var minutes = Math.floor(timeLeft / 60);
                            var seconds = timeLeft % 60;
        
                            countdown.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
        
                            if (timeLeft === 0) {
                                clearInterval(timerInterval);
                                localStorage.removeItem('startTime'); // Limpa a hora de início
                                window.location.href = "pagina_final.html";
                            } else {
                                timeLeft--;
                            }
                        }, 1000); // Atualiza a cada segundo
        
                        isRunning = true;
                    }
                }
        
                // Iniciar o temporizador automaticamente quando a página for carregada
                window.onload = iniciarTemporizador;
            </script>
    </div>
    <audio controls autoplay loop>
        <source src="static/audio/Ill Never Love Again.mp3" type="audio/mpeg">
        Seu navegador não suporta a tag de áudio.
    </audio>

</body>
</html>
