<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="static/images/coracao.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A Aventura de Jess</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Parabéns</h1>
        <p>Minha doce e eterna amada Jéssica, você chegou ao fim da nossa aventura, espero que eu tenha sido uma boa companhia rsrs... <br>Agora é só você abrir seu presente e sentir a forma que eu estarei sempre contigo</p>
        <h1>E última coisa para me despedir de você
        </h1>
        <img src="static/images/doze.png" alt="Anel de Noivado">
        <h1 class="love">               
            I LOVE YOU!!!
        </h1>
    </div>
    <audio controls autoplay loop>
        <source src="static/audio/Thinking Out Loud.mp3" type="audio/mpeg">
        Seu navegador não suporta a tag de áudio.
    </audio>
</body>
</html>
