<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A Aventura de Jess</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="despertar.html" class="escondido"><h1>Capítulo 4: Pessoas que Amamos</a></h1>
        <p>Não paramos de avançar né e a saudade das pessoas que amamos reduz ou aumenta, good question rsrs</p>
        <h4>Promisse - Ben Howard</h4>
        <img src="static/images/quinta.png" alt="Anel de Noivado">
        <br>
        <p class="livro">Minha doce Jéssica agora que você chegou a metade da nossa aventura, vou te dar algumas dicas importantes, no último capítulo você precisará digitar uma senha de 4 números, que será desvendado daqui adiante esses números. Será que você vai conseguir</p> <br>
        <p id="timer" class="btn">Tempo restante: <span id="countdown">15:00</span></p>
        <br>
        <a href="tempo.html" class="btn btn-primary">Página Anterior</a><br><br>
        <script>
            var timerInterval;
            var startTime;
            var isRunning = false; // Verifica se o temporizador está em execução
    
            // Função para iniciar o temporizador
            function iniciarTemporizador() {
                if (!isRunning) {
                    // Verifica se há uma hora de início no armazenamento local
                    startTime = localStorage.getItem('startTime');
    
                    if (!startTime) {
                        // Se não houver, define a hora de início atual
                        startTime = new Date().getTime();
                        localStorage.setItem('startTime', startTime);
                    }
    
                    // Iniciar o cronômetro
                    var timeLeft = Math.max(0, 15 * 60 - Math.floor((new Date().getTime() - startTime) / 1000));
                    var countdown = document.getElementById("countdown");
    
                    timerInterval = setInterval(function () {
                        var minutes = Math.floor(timeLeft / 60);
                        var seconds = timeLeft % 60;
    
                        countdown.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
    
                        if (timeLeft === 0) {
                            clearInterval(timerInterval);
                            localStorage.removeItem('startTime'); // Limpa a hora de início
                            window.location.href = "despertar";
                        } else {
                            timeLeft--;
                        }
                    }, 1000); // Atualiza a cada segundo
    
                    isRunning = true;
                }
            }
    
            // Iniciar o temporizador automaticamente quando a página for carregada
            window.onload = iniciarTemporizador;
    
            // Limpar a hora de início no localStorage quando a página for atualizada
            window.addEventListener('beforeunload', function () {
                localStorage.removeItem('startTime');
            });
        </script>
    </div>
    <audio controls autoplay loop>
        <source src="static/audio/Promise.mp3" type="audio/mpeg">
        Seu navegador não suporta a tag de áudio.
    </audio>

</body>
</html>
